<!doctype html>

<html>
<head>
<title>Parental Consent Form - CDSC</title>
<style type="text/css" media="screen">
        body {
            font-family: Helvetica, Verdana, Arial, sans-serif;
            font-size: 14pt;
            color: #ffffff;
            background-color: #000000;
        }
.header {
	font-size: 18pt;
	color: #416FE9;
}
.stayintouch {
	font-size: 18pt;
	color: #C49C2C;
}
.basics {
	font-size: 18pt;
	color: #4A8826;
}
.whatisinvolved {
	font-size: 18pt;
	color: #C49C2C;
}
.risks {
	font-size: 18pt;
	color: #993333;
}
.privacy {
	font-size: 18pt;
	color: #4A8826;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
    <body>
    <table width="262" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="logo.png" alt="CDSC" width="550" height="262" align="middle"></td>
  </tr>
</table>

<table width="210" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="206" align="center" class="header">Parental Consent</td>
  </tr>
</table>


	    <p>We would like to invite your child to participate in a research study conducted by Marjorie Rhodes, director of the Conceptual Development and Social Cognition Lab at New York University. Our research investigates how children learn about the world around them. Your support makes this research possible! </p>
	    <p>Please review this information and indicate below if you would like your child to participate. Thank you so much for your involvement.</p>
<table width="135" border="0" align="center" cellpadding="0" cellspacing="0">
	      <tr>
	        <td width="108" class="basics">The Basics</td>
      </tr>
    </table>
	    <p>You will remain with your child throughout the study. If you permit your child to participate you may subsequently withdraw him or her from the study at any time and there will be no consequences for doing so. Your child will proceed at his or her own pace and may skip any question that he/she prefers not to answer. The session will last no longer than 25 minutes (most last about 10 minutes). </p>
	    <table width="211" border="0" align="center" cellpadding="0" cellspacing="0">
	      <tr>
	        <td width="211" class="whatisinvolved">What is involved?</td>
          </tr>
    </table>
    <p>We have a range of studies in which children view objects, displays, pictures, or storybooks. Your child may make guesses or answer questions with a researcher. In some studies, you may be asked to read a story with your child. </p>
    <p>Children usually very much enjoy these studies, but if your child becomes tired, bored, or uncomfortable at any time, we will stop the study immediately. </p>
	    <table width="224" border="0" align="center" cellpadding="0" cellspacing="0">
	      <tr>
	        <td width="224" class="risks">Risks and Benefits</td>
          </tr>
    </table>
	    <p>There are no known risks associated with your child's participation in this research beyond those of everyday life. While we do not expect individual children to directly benefit from participation in these studies, we do expect that the studies will advance our general understanding of children's reasoning and learning. These studies are not designed to evaluate the abilities of individual children, but rather to understand how children learn in general.  </p>
	    <p>There is no payment for participating. Your child will receive a sticker and a certificate. </p>
    <table width="86" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="86" class="privacy">Privacy</td>
          </tr>
    </table>
    <p>Your family's privacy will be protected. Any information obtained in connection with our studies that could be identified with you or your child will remain confidential and will be disclosed only with your permission or as required by law. The entire study may be videotaped. You may review these tapes and request that all or any portion of the tapes be destroyed. Paper and video files are marked only by ID numbers, and will not be directly linked to your child's identity. The files linking ID numbers to the information that you provide on this consent form will be stored on a secure server, accessible only by the lead researchers. Videos may be shared with collaborating researchers, or presented for educational purposes. </p>
    <table width="167" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="167" class="stayintouch">Stay in Touch</td>
      </tr>
    </table>
    <p>You will have the opportunity to receive a digital copy of this form, or you may request a paper copy. If you have any questions or concerns, you may ask the researcher at the end of the study, or contact Professor Marjorie Rhodes at 212-998-7902 or marjorie.rhodes@nyu.edu. </p>
    <p>For questions about your child's right as a research participant, you may contact the University Committee on Activities Involving Human Subjects of New York University at 212-998-4808 or ask.humansubjects@nyu.edu.</p>
</body>
</html>
